nav{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #fbfbfb;
  justify-content: space-around;
  align-items: center;
}

nav ul{
  padding-right: 50px;
  text-align: right;
  font-family: "avenir";
  text-decoration: none;
  color: #d77a61;
}

nav a {
  color: #223843;
  text-decoration: none;
}

#titre {
  color: #223843;
  font-family: "montserrat black";
  font-size: 55px;
  text-align: center;
  justify-content: center;
}

#logoheader{
  height: 150px;
}

.noms {
  font-family: "montserrat";
  font-size: 20px;
  color: #d77a61;
  font-weight: 700;
}
.description {
  font-family: "avenir";
  font-size: 14px;
  color: #223843;
}
#section1 {
  display: flex;
}

#grandsnoms{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 40px;
}
#grandsnoms article {
  background-color: #eff1f3;
  border: 20px solid #eff1f3;
  border-radius: 50px;
  width: auto;
  height: auto;
}
